.comp-product-filter {
  .filter-block {
    padding: 24px 0;
    &:nth-child(1) {
      padding-top: 0;
    }
  }
  .filter-block-cat {
    border-bottom: 1px solid var(--platinum);
  }

  .filter-block-radlist {
    display: grid;
    row-gap: 8px;
  }

  .filter-radio-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 8px;
  }

  .filter-radio-input {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      cursor: pointer;

      &:checked + .filter-radio-check {
        opacity: 1;
        border-color: var(--pumpkin);
        background: var(--pumpkin);
      }
    }

    .filter-radio-check {
      border: 1px solid #c9cfd2;
      position: absolute;
      border-radius: 50%;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;

      &::after {
        content: "";
        width: 8px;
        height: 8px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        border-radius: 100%;
      }
    }
  }

  .filter-block-ttl {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 16px;
  }

  .filter-radio-lbl {
    color: var(--outerspace);
    text-transform: capitalize;
  }

  .filter-block-price-range {
    border-bottom: 1px solid #c9cfd2;

    .filter-price-input {
      width: 100%;
      gap: 12px;
      display: flex;
      margin-top: 16px;

      input {
        width: 100%;
        border: 1px solid var(--platinum);
        border-radius: 3px;
        height: 40px;
        padding-left: 12px;
        padding-right: 12px;
        color: var(--slate-gray);
        outline: 0;

        &::placeholder {
          color: var(--slate-gray);
        }
      }
    }

    .filter-range-box {
      margin: 16px 0;
    }

    .filter-range-slider {
      height: 1px;
      position: relative;
      background-color: var(--platinum);

      .progress {
        position: absolute;
        height: 2px;
        top: -1px;
        border-radius: 5px;
        background-color: var(--pumpkin);
      }
    }

    .filter-range-input {
      position: relative;
    }

    .filter-range-input input {
      position: absolute;
      width: 100%;
      height: 2px;
      top: -1px;
      background: none;
      pointer-events: none;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;

      &::-webkit-slider-thumb {
        height: 12px;
        width: 12px;
        background: var(--white);
        border: 1px solid var(--pumpkin);
        border-radius: 50%;
        pointer-events: auto;
        -webkit-appearance: none;
      }

      ::-moz-range-thumb {
        height: 12px;
        width: 12px;
        border: none;
        border-radius: 50%;
        background: var(--white);
        pointer-events: auto;
        -moz-appearance: none;
      }
    }
  }

  .filter-block-brands {
    border-bottom: 1px solid #c9cfd2;

    .filter-block-checklist {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 12px;
      column-gap: 8px;
    }

    .filter-check-item {
      position: relative;
      display: flex;
      align-items: center;
      column-gap: 8px;

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: 0;
        cursor: pointer;

        &:checked + .filter-checkmark {
          background: var(--pumpkin);
          border-color: var(--pumpkin);

          .check-icon {
            opacity: 1;
          }
        }
      }

      .filter-checkmark {
        background: var(--white);
        border: 1px solid var(--Gray-200, #c9cfd2);
        border-radius: 2px;
        transition: all 300ms ease-in-out;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;

        .check-icon {
          opacity: 0;
          color: var(--white);
          transition: all 300ms ease-in-out;
        }
      }
    }

    .filter-check-lbl {
      color: var(--outerspace);
      text-transform: capitalize;
    }
  }

  .filter-block-tags {
    .filter-block-taglist {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }

    .filter-tag-item {
      position: relative;

      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        cursor: pointer;
        opacity: 0;

        &:checked + .tag-item-lbl {
          border-color: var(--pumpkin);
          background: var(--seashell);
        }
      }

      .tag-item-lbl {
        font-weight: 500;
        border: 1px solid var(--platinum);
        border-radius: 2px;
        min-height: 32px;
        padding-left: 12px;
        padding-right: 12px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .filter-block-promo {
    display: grid;
    row-gap: 24px;
    border-radius: 4px;
    border: 4px solid var(--champagne-pink);
    padding: 32px;

    .promo-product-img {
      max-width: 180px;
      margin-right: auto;
      margin-left: auto;
    }
    .promo-product-ttl {
      margin-top: 8px;
      margin-bottom: 16px;
      font-weight: 600;
      font-size: 24px;
      text-align: center;
    }
    .promo-product-text {
      img {
        max-width: 132px;
        margin-right: auto;
        margin-left: auto;
      }
    }
    .promo-product-price {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 8px;

      .price-lbl {
        color: var(--outerspace);
      }

      .price-val {
        background: var(--arylide-yellow);
        border-radius: 3px;
        padding: 6px 12px;
        text-align: center;
      }
    }

    .promo-product-btns {
      display: grid;
      row-gap: 12px;
    }
  }
}

@media (max-width: 1400px) {
  .comp-product-filter {
    .filter-block {
      padding: 16px 0;
    }

    .filter-block-brands {
      .filter-block-checklist {
        row-gap: 8px;
        column-gap: 6px;
      }
    }

    .filter-block-promo {
      padding: 16px;
    }
  }
}

@media (max-width: 1200px) {
  .comp-product-filter {
    .filter-block-promo {
      padding: 10px;
    }
  }
}

@media (max-width: 992px) {
  .comp-product-filter {
    .segment-product-filter {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 8px;
      position: relative;
    }

    .filter-block {
      border: 0;
      padding: 0;

      .filter-block-ttl {
        background: rgba(250, 130, 50, 0.05);
        border: 1px solid var(--pumpkin);
        border-radius: 3px;
        padding: 8px 12px;
        font-size: 14px;
        cursor: pointer;
        text-align: center;

        &.active {
          background: var(--pumpkin);
          color: var(--white);
        }
      }

      .filter-block-content {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--white);
        z-index: 5;
        box-shadow: 0px 8px 24px 0px rgba(25, 28, 31, 0.12);
        padding: 16px;

        &.show {
          display: block;
        }
      }
    }

    .filter-block-promo {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  .comp-product-filter {
    .segment-product-filter {
      grid-template-columns: repeat(2, 1fr);
    }
    .filter-block-ttl {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 480px) {
  .comp-product-filter {
    .filter-block {
      .filter-block-ttl {
        padding: 8px;
      }
    }
  }
}

@media (max-width: 360px) {
  .comp-product-filter {
    .segment-product-filter {
      grid-template-columns: 100%;
    }
  }
}
