.comp-header-main {
  padding-top: 20px;
  padding-bottom: 20px;

  .seg-header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  .elem-brand {
    width: 178px;
    min-width: 178px;
  }

  .elem-search-form {
    max-width: 656px;
    flex: 1;

    .input-group {
      display: flex;
      align-items: stretch;
      height: 48px;
      column-gap: 8px;
      padding: 14px 20px;
      background-color: #fff;
      width: 100%;
      box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.08);
      border-radius: 2px;
    }

    .input-control {
      width: 100%;
      border: none;
      outline: 0;
      color: #77878f;
    }
  }

  .elem-shop-controls {
    .icolink-list {
      display: flex;
      align-items: center;
      column-gap: 24px;

      .icolink {
        color: #fff;
      }
    }

    .icolink-cart {
      position: relative;
      .icolink {
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        .cart-count {
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          font-weight: 700;
          font-size: 12px;
          background-color: #fff;
          right: -6px;
          bottom: 100%;
          color: #1b6392;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          padding-top: 1px;
        }
      }
    }

    .comp-modal-cart {
      position: absolute;
      top: 100%;
      right: 0;
    }

    .icolink-user {
      position: relative;
    }

    .comp-modal-signin {
      position: absolute;
      top: 100%;
      right: 0;
    }
  }
}

@media (max-width: 992px) {
  .comp-header-main {
    .elem-brand{
      width: 140px;
      min-width: 140px;
    }
    .elem-search-form{
      .input-group{
        height: 44px;
      }
    }
    .elem-shop-controls {
      .icolink-list{
        column-gap: 20px;
      }
      .icolink-cart {
        .icolink {
          .cart-count {
            width: 18px;
            height: 18px;
            font-size: 11px;
            bottom: 80%;
          }
        }
      }

      .icolink {
        svg {
          width: 24px;
        }
      }
    }
  }
}


@media(max-width: 576px){
  .comp-header-main{
    .seg-header-main{
      flex-wrap: wrap;
      .elem-brand{
        width: calc(50% - 8px);
        img{
          max-width: 140px;
        }
      }
      .elem-shop-controls{
        width: calc(50% - 8px);

        .icolink-list{
          justify-content: flex-end;
        }
      }
      .elem-search-form{
        width: 100%;
        order: 3;
      }
    }
  }
}

@media(max-width: 480px){
  .comp-header-main{
    .seg-header-main{
      column-gap: 0;
    }
  }
}

