.comp-header-bottom {
  background: var(--white);
  box-shadow: 0px -1px 0px 0px #e4e7e9 inset;
  min-height: 80px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;

  .segment-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
  }

  .header-bottom-category {
    position: relative;
  }

  .category-toggle-btn {
    background: var(--antiflash-white);
    border-radius: 2px;
    padding: 14px 24px;
    font-weight: 500;
    color: var(--eerie-black);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    &:hover {
      background: var(--pumpkin);
      color: var(--white);
    }

    .btn-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }

    .btn-text {
      white-space: nowrap;
    }
  }

  .header-bottom-utils {
    margin-right: auto;
    .header-utils-list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 24px;
      row-gap: 4px;
    }
    .header-utils-item {
      a {
        display: flex;
        align-items: center;
        column-gap: 6px;
        color: var(--payne-gray);
      }
    }
    .header-utils-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .header-bottom-contact {
    display: flex;
    align-items: center;
    column-gap: 8px;
    color: var(--eerie-black);

    .contact-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .contact-text {
      white-space: nowrap;
    }
  }
}

@media (max-width: 992px) {
  .comp-header-bottom {
    padding-top: 10px;
    padding-bottom: 10px;

    .header-bottom-contact {
      display: none;
    }

    .category-toggle-btn {
      padding: 12px 20px;
    }

    .header-bottom-utils {
      .header-utils-list {
        column-gap: 16px;
      }
    }
  }
}

@media (max-width: 576px) {
  .comp-header-bottom {
    .segment-bottom {
      flex-direction: column;
      gap: 16px;
    }

    .category-toggle-btn{
      text-transform: uppercase;
      column-gap: 16px;
    }

    .header-bottom-category {
      width: 100%;
    }
  }
}

@media (max-width: 480px) {
  .comp-header-bottom {
    .header-bottom-utils {
      .header-utils-list {
        .header-utils-item {
          width: calc(50% - 8px);
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .comp-header-bottom {
    .header-bottom-utils {
      .header-utils-list {
        .header-utils-item {
          width: auto;
        }
      }
    }
  }
}
