.comp-header-promo {
  background: var(--eerie-black);
  min-height: 80px;
  display: flex;
  align-items: center;
  position: relative;

  .segment-header-promo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-promo-ttl {
    display: flex;
    column-gap: 12px;

    [class^="ttl"] {
      font-weight: 600;
    }

    .ttl-bg-text {
      background: var(--arylide-yellow);
      font-size: 20px;
      padding: 6px 10px;
      transform: rotate(-3deg);
    }

    .ttl-plain-text {
      font-size: 24px;
      color: var(--white);
    }
  }

  .header-promo-discount {
    color: var(--white);
    display: flex;
    align-items: center;
    column-gap: 8px;

    .text-sm {
      font-size: 14px;
    }

    .text-lg {
      font-size: 40px;
      font-weight: 600;
      color: var(--jonquil);
    }

    .text-md {
      font-size: 20px;
      font-weight: 600;
    }
  }

  .header-promo-btn {
    display: flex;
    align-items: center;
    gap: 12px;

    .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: var(--jonquil);
      color: var(--eerie-black);
      column-gap: 8px;
      min-width: 156px;
      height: 48px;
      border-radius: 2px;

      .btn-text {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 14px;
      }

      .btn-icon {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .promo-close-btn {
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 32px;
    background-color: var(--onyx);
    border-radius: 2px;
    color: var(--white);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: none;
  }
}

@media (max-width: 1600px) {
  .comp-header-promo {
    .promo-close-btn {
      right: 16px;
    }
  }
}

@media (max-width: 1440px) {
  .comp-header-promo {
    .promo-close-btn {
      position: relative;
      transform: translateY(0);
      right: 0;
    }
  }
}

@media (max-width: 768px) {
  .comp-header-promo {
    min-height: 70px;

    .header-promo-ttl {
      column-gap: 10px;
      .ttl-bg-text {
        font-size: 18px;
      }
      .ttl-plain-text {
        font-size: 20px;
      }
    }

    .header-promo-discount {
      .text-lg {
        font-size: 32px;
      }
    }
    .header-promo-btn {
      .btn {
        min-width: auto;
        padding-right: 16px;
        padding-left: 16px;
        height: 44px;
      }
    }

    .promo-close-btn {
      width: 24px;
      height: 24px;
    }
  }
}

@media (max-width: 576px) {
  .comp-header-promo {
    .header-promo-ttl {
      column-gap: 6px;

      .ttl-bg-text {
        padding: 4px 8px;
        font-size: 16px;
      }
      .ttl-plain-text {
        font-size: 18px;
      }
    }

    .header-promo-discount {
      .text-lg {
        font-size: 20px;
      }
      .text-md {
        font-size: 16px;
      }
    }

    .header-promo-btn {
      .btn {
        padding-right: 10px;
        padding-left: 10px;
        height: 36px;
        .btn-icon {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .comp-header-promo {
    min-height: 60px;
    .segment-header-promo {
      .header-promo-discount {
        display: none;
      }
    }
  }
}
