.pg-forgot-password {
  .segment-forgot-password {
    border-radius: 4px;
    max-width: 425px;
    margin: 100px auto;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--platinum);
  }
  .forgot-password-form {
    padding: 32px;

    .form-head {
      display: grid;
      row-gap: 12px;
      text-align: center;
      margin-bottom: 24px;
    }

    .form-ttl {
      font-size: 20px;
      font-weight: 600;
    }
    .form-lead-text {
      color: var(--payne-gray);
    }

    .form-elem {
      display: grid;
      row-gap: 8px;

      .form-lbl {
        margin-bottom: 8px;
        display: block;
      }
      .form-ctrl {
        border: 1px solid var(--platinum);
        border-radius: 2px;
        height: 44px;
        padding: 0 12px;
        outline: 0;
        width: 100%;
      }
    }

    .form-btn {
      margin-top: 24px;
      margin-bottom: 24px;
      width: 100%;
    }

    .form-text-group {
      display: grid;
      row-gap: 8px;
      .form-text {
        color: var(--payne-gray);
      }
      .form-link {
        font-weight: 500;
        color: var(--celes-blue);
        margin-left: 6px;
      }
    }

    .form-foot {
      border-top: 1px solid var(--platinum);
      padding-top: 24px;
      margin-top: 24px;
      color: var(--outerspace);

      .highlighted-txt {
        font-weight: 500;
        color: var(--pumpkin);
        padding: 0 6px;
      }
    }
  }
}


@media(max-width: 1400px){
  .pg-forgot-password{
    .segment-forgot-password{
      margin: 72px auto;
    }
  }
}

@media(max-width: 1200px){
  .pg-forgot-password{
    .segment-forgot-password{
      margin: 60px auto;
    }
  }
}

@media(max-width: 992px){
  .pg-forgot-password{
    .segment-forgot-password{
      margin: 40px auto;
    }
  }
}

@media(max-width: 768px){
  .pg-forgot-password{
    .segment-forgot-password{
      margin: 32px auto;
    }
  }
}

@media(max-width: 480px){
  .pg-forgot-password{
    .forgot-password-form{
      padding: 20px;
    }
  }
}

@media(max-width: 360px){
  .pg-forgot-password{
    .forgot-password-form{
      padding: 16px;
    }
  }
}