.pg-reset-pwd {
  .seg-reset-pwd {
    border-radius: 4px;
    max-width: 425px;
    margin: 100px auto;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid #e4e7e9;
  }
  .elem-reset-form {
    padding: 32px;

    .form-elems-wrap {
      display: grid;
      row-gap: 16px;
    }

    .form-head {
      display: grid;
      row-gap: 12px;
      text-align: center;
      margin-bottom: 24px;
    }

    .form-ttl {
      font-size: 20px;
      font-weight: 600;
    }
    .form-lead-text {
      color: #5f6c72;
    }

    .form-elem {
      display: grid;
      row-gap: 8px;

      .form-lbl {
        margin-bottom: 8px;
        display: block;
      }
      .form-ctrl {
        border: 1px solid #e4e7e9;
        border-radius: 2px;
        height: 44px;
        padding: 0 12px;
        outline: 0;
        width: 100%;
      }
    }

    .form-btn {
      margin-top: 24px;
      width: 100%;
    }

    .form-ctrl-wrap {
      position: relative;
    }
    .pwd-toggle-icobtn {
      position: absolute;
      right: 16px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
