.pg-track-order {
  .seg-trkorder {
    padding: 48px 0 124px 0;
    .elem-trkorder-ttl {
      margin-bottom: 16px;
      font-size: 32px;
      font-weight: 600;
    }
    .elem-trkorder-text {
      color: #5f6c72;
    }
    .elem-trkorder-form {
      margin-top: 24px;
      max-width: 872px;

      .form-cols {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        align-items: start;
      }

      .form-elem {
        display: grid;
        row-gap: 8px;
      }

      .form-lbl {
        display: block;
      }

      .form-input {
        height: 44px;
        padding: 0 12px;
        border-radius: 2px;
        border: 1px solid #e4e7e9;
        outline: none;

        &::placeholder {
          color: #77878f;
        }
      }
      .form-info {
        margin-top: 16px;
        display: flex;
        align-items: center;
        column-gap: 6px;

        .form-infoicon {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          width: 24px;
          height: 24px;
        }
        .form-infotxt {
          color: #5f6c72;
        }
      }

      .btn-trkorder{
        margin-top: 32px;
      }
    }
  }
}
