
.comp-subfeatured-tabs {
  .segment-gridbox {
    display: grid;
    grid-template-columns: auto 312px;
    column-gap: 24px;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .subfeatured-gridbox-offers {
    display: grid;
    row-gap: 24px;

    .offers-t {
      background: var(--vanilla);
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 32px;

      .offers-img {
        max-width: 108px;
        margin-right: auto;
        margin-left: auto;
      }
      .text-lg {
        margin-top: 12px;
        margin-bottom: 8px;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.14;
      }
      .text-sm {
        font-size: 16px;
        color: var(--outerspace);
      }
      .text-offers {
        margin-top: 16px;
        margin-bottom: 24px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap: 8px;
      }
      .offers-label {
        color: var(--outerspace);
      }
      .offers-price {
        padding: 6px 12px;
        background: var(--white);
        font-weight: 600;
        font-size: 16px;
      }
      .btn {
        width: 100%;
        height: 48px;
        padding: 0 24px;
        .btn-text {
          font-size: 14px;
        }
      }
    }

    .offers-b {
      padding: 40px 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: #124261;
      border-radius: 4px;
      color: var(--white);

      .offers-badge {
        background: rgba(255, 255, 255, 0.12);
        border-radius: 2px;
        text-align: center;
        padding: 6px 12px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 15px;
        display: inline-flex;
      }
      .text-lg {
        font-size: 28px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 12px 0;
      }
      .text-md {
        font-size: 18px;
        span {
          color: var(--jonquil);
          font-weight: 600;
        }
      }
      .btn {
        margin-top: 24px;
        width: 100%;
        height: 48px;
        padding: 0 24px;
        .btn-text {
          font-size: 14px;
        }
      }
    }
  }

  .subfeatured-tabs-head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 16px;
    row-gap: 10px;
  }

  .subfeatured-tabs-btns {
    .subfeatured-tab-btn {
      color: var(--payne-gray);
      padding: 8px;
      text-transform: capitalize;
      font-weight: 600;
      &.active {
        border-bottom: 1px solid var(--pumpkin);
        color: var(--eerie-black);
      }
    }
  }

  .subfeatured-tabs-body {
    margin-top: 24px;
  }

  // react-tabs customization
  .react-tabs__tab {
    padding: 0;
  }

  .react-tabs__tab-list {
    margin-left: auto;
    margin-bottom: 4px;
  }

  .react-tabs__tab,
  .react-tabs__tab-list,
  .react-tabs__tab--selected {
    border: none !important;
  }
}


@media(max-width: 1200px){
  .comp-subfeatured-tabs{
    .segment-gridbox{
      grid-template-columns: auto 240px;
      gap: 16px;
    }

    .subfeatured-gridbox-offers{
      .offers-t{
        padding: 16px;
      }
      .offers-b{
        padding: 16px;
      }
    }
  }
}

@media(max-width: 1200px){
  .comp-subfeatured-tabs{
    .segment-gridbox{
      grid-template-columns: 100%;
      gap: 24px;
    }

    .subfeatured-gridbox-offers{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
  }
}

@media(max-width: 768px){
  .comp-subfeatured-tabs{
    .subfeatured-gridbox-offers{
      grid-template-columns: 100%;
    }

    .react-tabs__tab-list{
      margin-left: 0;
    }
  }
}
