.comp-support-contact {
  background: var(--antiflash-white);
  padding: 72px 0;

  .segment-support-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .support-contact-badge {
    background: var(--celes-blue);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 2px;
  }

  .contact-gridbox-icon {
    padding: 24px;
  }
  .support-contact-ttl {
    margin-top: 16px;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }

  .support-contact-gridbox {
    max-width: 1096px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  .contact-gridbox-call,
  .contact-gridbox-chat {
    background: var(--white);
    padding: 32px;
    display: grid;
    column-gap: 24px;
    grid-template-columns: 96px auto;
  }

  .contact-gridbox-call {
    .contact-gridbox-icon {
      background: #eaf6fe;
    }
    .contact-gridbox-btn {
      background: var(--celes-blue);
    }
  }

  .contact-gridbox-chat {
    .contact-gridbox-icon {
      background: var(--honeydew);
    }
    .contact-gridbox-btn {
      background: var(--kelly-green);
    }
  }

  .contact-gridbox-icon {
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    border-radius: 4px;
  }
  .contact-gridbox-ttl {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 8px;
  }
  .contact-gridbox-text {
    color: var(--payne-gray);
  }
  .contact-gridbox-info {
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  .contact-gridbox-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
    height: 48px;
    padding: 0 24px;
    color: var(--white);
    column-gap: 8px;

    .btn-text {
      text-transform: uppercase;
      font-weight: 700;
    }
    .btn-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

@media (max-width: 1400px) {
  .comp-support-contact {
    padding: 60px 0;
    .support-contact-ttl{
      font-size: 28px;
      margin-bottom: 36px;
    }
    .contact-gridbox-call,
    .contact-gridbox-chat {
      padding: 24px;
      gap: 20px;
    }

    .contact-gridbox-info {
      margin-top: 12px;
      margin-bottom: 20px;
      font-size: 20px;
    }

    .contact-gridbox-btn {
      height: 46px;
      column-gap: 6px;
      padding-right: 20px;
      padding-left: 20px;
    }
  }
}

@media (max-width: 1200px) {
  .comp-support-contact {
    padding: 40px 0;
    .support-contact-ttl{
      font-size: 24px;
      margin-bottom: 32px;
    }

    .contact-gridbox-call,
    .contact-gridbox-chat {
      padding: 20px;
      gap: 16px;
      grid-template-columns: 80px auto;
    }

    .contact-gridbox-icon {
      width: 80px;
      height: 80px;
      padding: 16px;
    }

    .contact-gridbox-btn {
      height: 44px;
      padding-right: 16px;
      padding-left: 16px;
    }
  }
}

@media (max-width: 992px) {
  .comp-support-contact {
    padding: 32px 0;
    
    .support-contact-ttl{
      font-size: 20px;
      margin-bottom: 24px;
    }

    .contact-gridbox-call,
    .contact-gridbox-chat {
      padding: 16px;
      grid-template-columns: 60px auto;
    }

    .contact-gridbox-icon {
      width: 60px;
      height: 60px;
      padding: 10px;
    }

    .contact-gridbox-btn {
      height: 40px;
      padding-right: 12px;
      padding-left: 12px;
    }

    .contact-gridbox-info {
      margin-top: 8px;
      margin-bottom: 16px;
      font-size: 16px;
    }
  }
}

@media (max-width: 768px) {
  .comp-support-contact {
    .contact-gridbox-ttl {
      font-size: 16px;
    }
    .support-contact-gridbox {
      grid-template-columns: 100%;
    }
  }
}

@media (max-width: 576px) {
  .comp-support-contact {
    .contact-gridbox-btn {
      height: 36px;
      .btn-text {
        font-size: 13px !important;
        font-weight: 500 !important;
      }
      .btn-icon {
        svg {
          width: 16px !important;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .comp-support-contact {
    .contact-gridbox-call,
    .contact-gridbox-chat {
      padding: 12px;
      grid-template-columns: 40px auto;
      column-gap: 10px;
    }

    .contact-gridbox-info {
      margin-bottom: 12px;
      font-size: 14px;
    }

    .contact-gridbox-icon {
      width: 40px;
      height: 40px;
      padding: 4px;
    }
  }
}


@media(max-width: 360px){
  .comp-support-contact{
    .contact-gridbox-call, .contact-gridbox-chat{
      grid-template-columns: 100%;
    }
  }
}