.comp-product-list {
  .segment-product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    &.gap {
      gap: 16px;
      border-radius: 3px;

      .comp-product-item {
        border-radius: 3px;
        &:hover {
          box-shadow: 0px 8px 24px 0px rgba(25, 28, 31, 0.12);
        }
      }
    }

    &.list-view {
      grid-template-columns: 100%;
      .comp-product-item {
        padding: 12px;

        .segment-product-item {
          display: grid;
          grid-template-columns: 80px auto;
          align-items: center;
          column-gap: 12px;

          .product-item-tags {
            display: none;
          }

          .product-item-img {
            max-width: 80px;
            padding: 0;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .product-item-ttl {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
          }

          .product-item-btns {
            display: none;
          }
        }
      }
    }
  }
}

.comp-product-item {
  border: 1px solid var(--platinum);
  padding: 16px;
  position: relative;
  transition: all 300ms ease-in-out;

  .product-item-img {
    overflow: hidden;
    padding: 16px;
    margin-right: auto;
    margin-left: auto;
    max-width: 216px;
    position: relative;
  }

  .product-item-info {
    display: grid;
    row-gap: 8px;
  }

  .product-item-tags {
    position: absolute;
    top: 16px;
    left: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 8px;
  }

  .product-item-ttl {
    font-size: 14px;
  }

  .product-item-price {
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 4px;

    .price-old {
      color: var(--cadet-gray);
      text-decoration: line-through;
    }
    .price-new {
      color: var(--celes-blue);
    }
  }

  .product-item-rating {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2px;

    .rating-icon {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: var(--pumpkin);
    }

    .rating-val {
      padding-left: 4px;
      color: var(--slate-gray);
    }
  }

  .product-item-btns {
    display: grid;
    column-gap: 10px;
    grid-template-columns: repeat(3, 48px);
    justify-content: center;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease-in-out;

    .product-item-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 48px;
      background-color: var(--white);
      border-radius: 100%;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

      &:hover {
        background: var(--pumpkin);
        color: var(--white);
      }
    }
  }

  &:hover {
    .product-item-btns {
      visibility: visible;
      opacity: 1;
    }
  }
}

@media (max-width: 1200px) {
  .comp-product-list {
    .segment-product-list {
      &.gap {
        gap: 10px;
      }
    }
  }
  .comp-product-item {
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .comp-product-list {
    .segment-product-list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 576px) {
  .comp-product-list {
    .segment-product-list {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .comp-product-item {
    .product-item-btns {
      grid-template-columns: repeat(3, 36px);
      .product-item-btn {
        height: 36px;

        svg {
          width: 20px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .comp-product-item {
    padding: 8px;

    .product-item-img {
      padding: 10px;
    }
  }
  .comp-product-list {
    .segment-product-list {
      &.gap {
        gap: 4px;
      }
    }
  }
}

@media (max-width: 360px) {
  .comp-product-list {
    .segment-product-list {
      grid-template-columns: 100%;
    }
  }
}
