.comp-showcase {
  padding-top: 72px;
  padding-bottom: 72px;

  .elem-gbox-ttl {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 16px;
  }

  .seg-gridbox {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
  }
}

@media (max-width: 1200px) {
  .comp-showcase {
    .seg-gridbox {
      grid-template-columns: 100%;
      gap: 16px;

      .elem-gbox-col {
        .elem-gbox-ttl {
          margin-bottom: 10px;
        }
        .comp-prodlist {
          .seg-glist {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
          }
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .comp-showcase {
    .seg-gridbox {
      grid-template-columns: repeat(2, 1fr);

      .elem-gbox-col {
        .comp-prodlist {
          .seg-glist {
            display: grid;
            grid-template-columns: 100%;
          }
        }
      }
    }
  }
}

@media(max-width: 576px){
  .comp-showcase{
    .seg-gridbox{
      grid-template-columns: 100%;
    }
  }
}