.comp-modal-cart {
  width: 376px;
  border-radius: 4px;
  border: 1px solid var(--platinum);
  background: var(--white);
  box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
  z-index: 2;
  position: relative;

  .cart-modal-close-btn {
    position: absolute;
    right: -16px;
    top: -16px;
    width: 32px;
    height: 32px;
    background-color: var(--pumpkin);
    border-radius: 100%;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-cart-head {
    padding: 16px 24px;
    box-shadow: 0px -1px 0px 0px #e4e7e9 inset;
  }

  .cart-head-ttl {
    font-size: 16px;
    font-weight: 500;
  }

  .cart-item-count {
    font-size: 16px;
    color: var(--payne-gray);
  }

  .modal-cart-list {
    padding: 20px 24px;
    display: grid;
    row-gap: 16px;
  }

  .cart-item {
    display: grid;
    grid-template-columns: 80px auto;
    column-gap: 16px;
    align-items: center;
  }

  .cart-item-img {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cart-item-content-wrap {
    display: grid;
    grid-template-columns: auto 16px;
    column-gap: 16px;
  }

  .cart-item-info{
    margin-top: 8px;
  }

  .cart-item-info-qty{
    color: var(--eerie-black);
  }

  .cart-item-info-times{
    color: var(--eerie-black);
    margin-right: 4px;
    margin-left: 4px;
  }

  .cart-item-info-price{
    color: var(--celes-blue);
  }

  .cart-item-remove {
    color: var(--cadet-gray);

    &:hover {
      color: #191919;
    }
  }

  .modal-cart-foot {
    padding: 24px;
    border-top: 1px solid var(--platinum);
    display: grid;
    row-gap: 20px;
  }

  .cart-foot-total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    .total-lbl {
      color: var(--outerspace);
    }

    .total-val {
      font-weight: 500;
    }
  }

  .cart-foot-btns {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    .btn {
      width: 100%;
    }
  }
}

@media (max-width: 576px) {
  .comp-modal-cart {
    .modal-cart-head {
      padding: 12px 16px;
    }
    .modal-cart-list {
      padding: 16px;
      row-gap: 12px;
    }
    .modal-cart-foot {
      padding: 16px;
    }
  }
}

@media (max-width: 480px) {
  .comp-modal-cart {
    .modal-cart-list {
      max-height: 300px;
      overflow-y: scroll;
    }

    .cart-item {
      column-gap: 10px;
      grid-template-columns: 60px auto;

      .cart-item-img {
        width: 60px;
        height: 60px;
      }
    }
  }
}
