.pg-compare {
  .segment-compare {
    border: 1px solid var(--platinum);
    border-radius: 4px;
    margin: 72px 0;
    overflow-x: scroll;
  }

  .compare-table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }

  .table-block {
    border-right: 1px solid var(--platinum);

    &.table-head {
      .table-cell {
        color: var(--outerspace);
      }
    }
  }

  .table-cell {
    min-height: 44px;

    &:not(.cell-product) {
      padding: 12px 32px;
      white-space: nowrap;
    }

    &:nth-child(even) { 
      background: var(--antiflash-white);
    }
  }

  .cell-empty {
    flex: 1;
  }

  .cell-product {
    height: 515px;
    overflow-y: scroll;

    .product-wrap {
      display: grid;
      gap: 16px;
      padding: 32px;
    }
    .product-remove-btn {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--cadet-gray);
      border: 2px solid var(--cadet-gray);
      border-radius: 100%;
      margin-right: auto;
      margin-left: auto;
    }

    .product-img {
      max-width: 270px;
      margin-right: auto;
      margin-left: auto;
    }
    .product-ttl {
      font-size: 16px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      -webkit-line-clamp: 3;
    }

    .product-btns {
      display: flex;
      column-gap: 12px;

      .btn {
        flex: 1;
      }

      .icon-btn {
        width: 48px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 2px;

        &.icon-btn-gray {
          border: 2px solid var(--platinum);
          color: var(--french-gray);
        }
        &.icon-btn-primary {
          border: 2px solid var(--champagne-pink);
          color: var(--pumpkin);
        }
      }
    }
  }

  .cell-rate {
    .rate-wrap {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 2px;
    }
    .rate-icon {
      color: var(--pumpkin);
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .rate-val {
      color: var(--slate-gray);
      margin-left: 4px;
    }
  }

  .cell-price {
    font-weight: 600;
    font-size: 16px;
    color: var(--celes-blue);
  }

  [class$="-stock"] {
    text-transform: uppercase;
    font-weight: 600;
  }

  .cell-in-stock {
    color: var(--kelly-green);
  }

  .cell-out-stock {
    color: var(--indian-red);
  }
}

@media (max-width: 1400px) {
  .pg-compare {
    .segment-compare{
      margin: 60px 0;
    }
    .table-cell {
      &:not(.cell-product) {
        padding: 10px 24px;
      }
    }
    .cell-product {
      height: 475px;
      .product-wrap {
        padding: 24px;
      }

      .product-img {
        max-width: 240px;
      }

      .product-btns{
        .icon-btn{
          height: 46px;
          width: 46px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .pg-compare {
    .segment-compare{
      margin: 40px 0;
    }
    .table-cell {
      &:not(.cell-product) {
        padding: 10px 16px;
      }
    }
    .cell-product {
      height: 420px;

      .product-wrap {
        padding: 16px;
      }

      .product-img {
        max-width: 200px;
      }
    }
  }
}

@media(max-width: 992px){
  .pg-compare{
    .segment-compare{
      margin: 32px 0;
    }
    .table-cell {
      &:not(.cell-product) {
        padding: 8px 10px;
        min-height: auto;
      }
    }
    .cell-product{
      height: 300px;
      
      .product-wrap{
        padding: 12px;
        gap: 10px;
      }

      .product-img{
        max-width: 120px;
      }

      .product-ttl{
        font-size: 14px;
      }

      .product-btns{
        .icon-btn{
          height: 40px;
          width: 40px;

          svg{
            width: 20px;
          }
        }
      }
    }
  }
}
