.comp-newsletter {
  background: var(--lapis);
  padding: 72px 0;
  text-align: center;
  color: var(--white);

  .newsletter-lead-ttl {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 12px;
  }

  .newsletter-lead-text {
    opacity: 0.7;
    font-size: 16px;
    max-width: 536px;
    margin-right: auto;
    margin-left: auto;
  }

  .newsletter-form {
    margin: 32px 0;

    .input-group {
      padding: 10px 12px;
      column-gap: 16px;
      max-width: 624px;
      margin-right: auto;
      margin-left: auto;
      display: flex;
      align-items: center;
      background-color: var(--white);
      border-radius: 3px;
      box-shadow: 0px 12px 24px 0px rgba(0, 0, 0, 0.12);

      .input-ctrl {
        width: 100%;
        height: 48px;
        border: 0;
        font-size: 16px;
        outline: 0;
        padding-left: 16px;
        color: var(--slate-gray);

        &::placeholder {
          color: var(--slate-gray);
        }
      }
    }
  }

  .newsletter-line {
    height: 1px;
    max-width: 424px;
    background: rgba(255, 255, 255, 0.12);
    margin-right: auto;
    margin-left: auto;
  }
  .segment-companies {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 48px;
    row-gap: 10px;
    flex-wrap: wrap;
  }

  .companies-item {
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5;
    transition: all 300ms ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}

@media (max-width: 1400px) {
  .comp-newsletter {
    padding: 60px 0;
  }
}

@media (max-width: 1200px) {
  .comp-newsletter {
    padding: 40px 0;
  }
}

@media (max-width: 992px) {
  .comp-newsletter {
    padding: 32px 0;

    .newsletter-form {
      .input-group {
        .input-ctrl {
          height: 44px;
        }
      }
    }

    .segment-companies {
      column-gap: 24px;
    }
  }
}

@media (max-width: 576px) {
  .comp-newsletter {
    .newsletter-lead-ttl {
      font-size: 24px;
    }
    .newsletter-form {
      margin: 24px 0;

      .input-group {
        flex-direction: column;

        .input-btn {
          width: 100%;
        }
      }
    }

    .companies-item {
      width: 52px;
      height: 52px;
    }
  }
}
