.comp-footer {
  background: #191c1f;

  .seg-footer {
    color: #fff;
    padding-top: 72px;
    padding-bottom: 72px;
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 2fr 3fr;
    column-gap: 24px;
  }

  .ftr-item-ttl {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 12px;
  }

  .ftr-info {
    .info-brand {
      max-width: 170px;
      margin-bottom: 24px;
    }

    .info-cs-lbl {
      color: #77878f;
      margin-bottom: 4px;
    }
    .info-cs-no {
      font-size: 18px;
      color: #fff;
      font-weight: 500;
    }
    .info-addr {
      margin: 12px 0;
      color: #adb7bc;
      font-size: 16px;
    }
    .info-mail {
      font-size: 16px;
      font-weight: 500;
    }
  }

  .ftr-cats,
  .ftr-qlinks {
    .link-item a {
      margin-top: 6px;
      margin-bottom: 6px;
      color: #929fa5;
      font-weight: 500;
      transition: all 300ms ease-in-out;
      position: relative;
      display: inline-block;
      text-transform: capitalize;

      &::after {
        position: absolute;
        content: "";
        height: 2px;
        width: 24px;
        background-color: #ebc80c;
        right: calc(100% + 8px);
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all 300ms ease-in-out;
      }

      &:hover {
        margin-left: 32px;

        &::after {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .link-warning {
      margin-top: 6px;
    }
  }

  .ftr-apps {
    .ftr-item-ttl {
      margin-bottom: 18px;
    }
    .apps-link {
      display: grid;
      row-gap: 12px;
    }

    .app-link {
      background: #303639;
      border-radius: 3px;
      padding: 16px 20px;
      display: flex;
      align-items: center;
      column-gap: 16px;
      max-width: 178px;

      .link-icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .link-text {
        display: flex;
        row-gap: 2px;
        flex-direction: column;

        .text-xs {
          font-size: 11px;
        }
        .text-sm {
          font-weight: 600;
          white-space: nowrap;
        }
      }
    }
  }

  .ftr-tags {
    .ftr-item-ttl {
      margin-bottom: 18px;
    }
    .tags-links {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;

      .link-item a {
        border: 1px solid #303639;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px 12px;

        &:hover {
          background: #303639;
          border-color: #fff;
        }
      }
    }
  }

  .seg-copyr {
    padding: 24px 0;
    box-shadow: 0px 1px 0px 0px #303639 inset;

    .elem-copyr {
      color: #adb7bc;
      text-align: center;
    }
  }
}

@media (max-width: 1200px) {
  .comp-footer {
    .seg-footer {
      padding-top: 60px;
      padding-bottom: 60px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
    }
  }
}

@media (max-width: 992px) {
  .comp-footer {
    .seg-footer {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }
}

@media (max-width: 768px) {
  .comp-footer {
    .seg-footer {
      grid-template-columns: 3fr 2fr;
    }
  }
}

@media (max-width: 576px) {
  .comp-footer {
    .seg-footer {
      grid-template-columns: 100%;

      .elem-ftr-item {
        text-align: center;
        .info-brand {
          margin-right: auto;
          margin-left: auto;
        }
      }
    }

    .ftr-apps {
      .apps-link {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 12px;
      }
      .app-link {
        padding: 12px 16px;
        column-gap: 12px;
      }
    }

    .ftr-tags {
      .tags-links {
        justify-content: center;
      }
    }

    .seg-copyr{
      padding: 20px 0;
    }
  }
}
