.comp-sc-best-deals {
  padding-top: 72px;
  padding-bottom: 36px;

  .seg-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .comp-countdown {
    margin-right: auto;
  }

  .seg-gridbox {
    display: grid;
    grid-template-columns: 328px auto;
    margin-top: 24px;
    border: 1px solid #e4e7e9;
  }

  .elem-gbox-l {
    .comp-proditem {
      border: 0;
      row-gap: 24px;

      .seg-proditem {
        display: grid;
        row-gap: 24px;
      }

      .elem-item-img {
        max-width: 280px;
      }

      .item-btns {
        display: none;
      }

      .item-ttl {
        font-size: 16px;
      }

      .item-price {
        font-size: 18px;
      }

      .item-desc {
        color: #5f6c72;
      }
    }

    .item-btns {
      display: grid;
      column-gap: 10px;
      grid-template-columns: 48px auto 48px;
      justify-content: stretch;
      padding: 8px 16px 0px 16px;
      margin-bottom: 22px;

      .item-btn {
        background: #ffe7d6;
        border-radius: 2px;
        column-gap: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;

        .btn-text {
          text-transform: uppercase;
          font-weight: 700;
        }
      }

      .btn-addtocart {
        background-color: #fa8232;
        color: #fff;
      }
    }
  }
  .elem-gbox-r {
    .comp-prodlist{
      height: 100%;
      .seg-glist{
        height: 100%;
      }
    }
    .comp-proditem {
      border-right: 0;
      border-bottom: 0;
    }
  }
}

@media(max-width: 1200px){
  .comp-sc-best-deals{
    padding-top: 60px;
  }
}

@media (max-width: 992px) {
  .comp-sc-best-deals {
    padding-top: 40px;
    .seg-gridbox {
      grid-template-columns: 100%;
    }

    .elem-gbox-l {
      .comp-proditem {
        .seg-proditem {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: flex-start;
        }
      }

      .item-btns{
        width: 50%;
        margin-left: auto;
        padding-left: 0;
      }
    }
  }
}


@media(max-width: 768px){
  .comp-sc-best-deals{
    .elem-gbox-l{
      .item-btns{
        width: 100%;
        padding-left: 16px;
      }
    }
  }
}

@media(max-width: 576px){
  .comp-sc-best-deals{
    .elem-gbox-l{
      .comp-proditem{
        .seg-proditem{
          grid-template-columns: 100%;
        }
      }
    }
  }
}