.comp-best-deals {
  padding-top: 72px;
  padding-bottom: 36px;

  .segment-deals-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 24px;
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .comp-countdown {
    margin-right: auto;
  }

  .segment-deals-gridbox {
    display: grid;
    grid-template-columns: 328px auto;
    margin-top: 24px;
    border: 1px solid var(--platinum);
  }

  .deals-gridbox-l {
    .comp-product-item {
      border: 0;
      row-gap: 24px;

      .segment-product-item {
        display: grid;
        row-gap: 24px;
      }

      .product-item-img {
        max-width: 280px;
      }

      .product-item-btns {
        display: none;
      }

      .product-item-ttl {
        font-size: 16px;
      }

      .product-item-price {
        font-size: 18px;
      }

      .product-item-desc {
        color: var(--payne-gray);
      }
    }

    .product-item-btns {
      display: grid;
      column-gap: 10px;
      grid-template-columns: 48px auto 48px;
      justify-content: stretch;
      padding: 8px 16px 0px 16px;
      margin-bottom: 22px;

      .product-item-btn {
        background: var(--champagne-pink);
        border-radius: 2px;
        column-gap: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 48px;

        .btn-text {
          text-transform: uppercase;
          font-weight: 700;
        }
      }

      .btn-add-to-cart {
        background-color: var(--pumpkin);
        color: var(--white);
      }
    }
  }
  .deals-gridbox-r {
    .comp-prodlist {
      height: 100%;
      .segment-deals-glist {
        height: 100%;
      }
    }
    .comp-product-item {
      border-right: 0;
      border-bottom: 0;
    }
  }
}

@media (max-width: 1200px) {
  .comp-best-deals {
    padding-top: 60px;
  }
}

@media (max-width: 992px) {
  .comp-best-deals {
    padding-top: 40px;
    .segment-deals-gridbox {
      grid-template-columns: 100%;
    }

    .deals-gridbox-l {
      .comp-product-item {
        .segment-product-item {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          align-items: flex-start;
        }
      }

      .product-item-btns {
        width: 50%;
        margin-left: auto;
        padding-left: 0;
      }
    }
  }
}

@media (max-width: 768px) {
  .comp-best-deals {
    .deals-gridbox-l {
      .product-item-btns {
        width: 100%;
        padding-left: 16px;
      }
    }
  }
}

@media (max-width: 576px) {
  .comp-best-deals {
    .deals-gridbox-l {
      .comp-product-item {
        .segment-product-item {
          grid-template-columns: 100%;
        }
      }
    }
  }
}
