.comp-ask-sup {
  .seg-ask-sup {
    padding: 32px;
    background: #fbf4ce;
    border-radius: 4px;
  }

  .ask-sup-ttl {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 12px;
  }
  .ask-sup-lead {
    color: #475156;
  }
  .ask-sup-form {
    .form-elems-wrap {
      display: grid;
      row-gap: 12px;
      margin: 24px 0;
    }

    .form-elem {
      .form-ctrl {
        border: 1px solid #f7e99e;
        border-radius: 2px;
        height: 44px;
        padding: 0 16px;
        background: #fff;
        width: 100%;
        outline: 0;

        &::placeholder {
          color: #77878f;
        }
      }

      textarea {
        &.form-ctrl {
          padding: 12px 16px;
          height: 80px;
          resize: none;
        }
      }
    }
  }
}
