.pg-not-found {
    .elem-not-found {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 124px;
      max-width: 424px;
      margin-right: auto;
      margin-left: auto;
      text-align: center;
    }
  
    .not-found-img{
      max-width: 500px;
    }
  
    .not-found-ttl{
      margin-bottom: 24px;
      font-weight: 600;
      font-size: 36px;
    }
  
    .not-found-lead{
      color: #475156;
      font-size: 16px;
    }
  
    .not-found-btns {
      display: flex;
      gap: 12px;
      margin-top: 24px;
  
      .btn {
        height: 48px;
        padding-right: 24px;
        padding-left: 24px;
        column-gap: 8px;
        
        .btn-text{
            font-size: 14px;
            font-weight: 700;
        }
      }
    }
  }
  