
.wdgt-langdrop {
  z-index: 1;

  .seg-langdrop {
    position: relative;
  }
  .elem-drop-list {
    background-color: #fff;
    padding: 8px 0;
    border-radius: 3px;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid #e4e7e9;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    opacity: 0;
    visibility: hidden;

    &.show{
        opacity: 1;
        visibility: visible;
    }

    .drop-list-wrap {
      height: 124px;
      max-width: 180px;
      overflow-y: scroll;
    }
  }

  .elem-drop-active {
    display: flex;
    align-items: center;
    column-gap: 6px;
    cursor: pointer;

    .drop-active-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }

    .drop-active-text {
      text-transform: capitalize;
    }
  }

  .drop-item {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    column-gap: 12px;
    cursor: pointer;

    .item-icon {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      overflow: hidden;
      border: 1px solid #e4e7e9;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .item-text {
      color: #5f6c72;
      text-transform: capitalize;
    }

    .item-mark{
        color: #FA8232;
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        display: none;
    }

    &.selected{
        .item-mark{
            display: flex;
        }
    }
  }
}
