
.widget-lang-dropdown {
  z-index: 1;

  .segment-lang-dropdown {
    position: relative;
  }
  .lang-dropdown-list {
    background-color: var(--white);
    padding: 8px 0;
    border-radius: 3px;
    box-shadow: 0px 8px 40px 0px rgba(0, 0, 0, 0.12);
    border: 1px solid var(--platinum);
    overflow: hidden;
    position: absolute;
    right: 0;
    top: calc(100% + 10px);
    opacity: 0;
    visibility: hidden;

    &.show{
        opacity: 1;
        visibility: visible;
    }

    .dropdown-list-wrap {
      height: 124px;
      max-width: 180px;
      overflow-y: scroll;
    }
  }

  .lang-dropdown-active {
    display: flex;
    align-items: center;
    column-gap: 6px;
    cursor: pointer;

    .dropdown-active-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      pointer-events: none;
    }

    .dropdown-active-text {
      text-transform: capitalize;
    }
  }

  .dropdown-item {
    padding: 8px 16px;
    display: flex;
    align-items: center;
    column-gap: 12px;
    cursor: pointer;

    .dropdown-item-icon {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      overflow: hidden;
      border: 1px solid var(--platinum);
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .dropdown-item-text {
      color: var(--payne-gray);
      text-transform: capitalize;
    }

    .dropdown-item-mark{
        color: var(--pumpkin);
        width: 16px;
        height: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        display: none;
    }

    &.selected{
        .dropdown-item-mark{
            display: flex;
        }
    }
  }
}
